/* Variables */

$color_1: #99E2D0;
$color_2: #008766;
$color_3: #89C8FA;
$color_4: #003A68;
$color_5: #9356DC;

$lightgrey: #F6F6F6;
$grey: #EAEAEA;
$darkgrey: #353535;

$tablet: "screen and (min-width: 768px)";
$desktop: "screen and (min-width: 1024px)";

/* Mixin */

@mixin pinkbutton {
    color: white;
    padding: 13px 18.75px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-image: linear-gradient(to top, #a35bdb, #b45fdb, #c464db, #d369da, #e16fda);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
}

@mixin newgreenstamp {
    color: $color_2;
    background-color: $color_1;
    padding: 7px 9px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    top: 15px;
    left: calc(100% - 100px);
    width: fit-content;
    border-radius: 2px;
}

@mixin gradientfont {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to bottom, #a35bdb, #b45fdb, #c464db, #d369da, #e16fda);
}

/* Keyframes */

@keyframes pulse {
    0% {
        transform: scale(0.95);
        text-shadow: 0 0 0 $darkgrey;
    }

    70% {
        transform: scale(1);
        text-shadow: 0 30px 40px $darkgrey;
    }

    100% {
        transform: scale(0.95);
        text-shadow: 0 0 0 $darkgrey;
    }
}

@keyframes endload {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

/* General */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

p {
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: 900;
}

/* Loader */

.loader {
    width: 100vw;
    height: 2279px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 99;
    background-color: rgba(234, 234, 234, 0.95);
    animation: endload 2s ease forwards;

    @media #{$tablet} {
        height: 2575px;
    }

    @media #{$desktop} {
        height: 1409px;
    }

    p {
        position: fixed;
        top: 34vh;
        font-family: "Shrikhand";
        font-size: 12vw;
        color: $darkgrey;
        animation: pulse 1.5s ease-in-out;
    }
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header__logo {
        width: 162px;
        height: auto;
        margin: auto;
        padding: 15px 0;
        display: flex;

        @media #{$desktop} {
            padding: 30px 0;
            width: 200px;
        }
    }

    .header__location {
        background-color: $grey;
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding: 15.5px 0;
        font-size: 16px;
        color: $darkgrey;

        .header__location__icon {
            margin-right: 17px;
        }
    }
}

/* Reservation */

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $lightgrey;
    text-align: center;

    .reservation__title {
        line-height: 34px;
        margin: 39px 40px 10px 40px;

        @media #{$desktop} {
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 18px;
        }
    }

    .reservation__text {
        line-height: 23px;
        margin: 0 20px 27px 20px;
    }

    .reservation__btn {
        @include pinkbutton();
        margin-bottom: 57px;
        transform: scale(1);
        transition: all 0.22s ease-in-out;

        &:hover {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
            opacity: 0.8;
            transform: scale(1.01);
        }

        @media #{$desktop} {
            margin-bottom: 30px;
        }
    }
}




/* Functionning */

.functioning {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media #{$desktop} {
        width: 76%;
        padding: 50px 13%;
    }

    .functioning__container {
        margin: 48px 20px;

        @media #{$desktop} {
            margin: 0;
        }

        .functioning__container__title {
            display: flex;
            flex-direction: column;
            margin-bottom: 26px;
        }

        .functioning__container__btncontainer {
            display: flex;
            flex-direction: column;

            @media #{$desktop} {
                flex-direction: row;
                width: 98%;
                justify-content: space-between;
            }

            .functioning__container__btncontainer__btn {
                display: flex;
                width: 95%;
                margin: auto;
                padding: 28px 0px;
                background-color: $lightgrey;
                border-radius: 20px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                margin-bottom: 24px;
                align-items: center;

                @media #{$desktop} {
                    width: 31%;
                    margin: 0;
                }

                .functioning__container__btncontainer__btn__number {
                    color: white;
                    height: 24px;
                    width: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color_5;
                    border-radius: 50%;
                    margin: 0 20px 0 -12px;

                    @media #{$desktop} {
                        margin-right: 4%;
                    }
                }

                .functioning__container__btncontainer__btn__icon {
                    margin-right: 20px;
                    color: #7E7E7E;

                    @media #{$desktop} {
                        margin-right: 4%;
                    }

                    &--phone {
                        font-size: 20px;
                    }

                    &--list {
                        font-size: 16px;
                    }

                    &--store {
                        font-size: 18px;
                        color: $color_5;
                    }
                }
            }
        }
    }
}

/* Restaurant */

.restaurants {
    padding: 54px 20px 66px 20px;
    background-color: $lightgrey;

    @media #{$desktop} {
        padding: 30px 13% 66px 13%;
    }

    .restaurants__title {
        margin-bottom: 10px;
    }

    .restaurants__cardscontainer {
        display: flex;
        flex-direction: column;

        @media #{$desktop} {
            display: grid;
            gap: 5vw;
        }

        .restaurants__cardscontainer__cards {
            border-radius: 15px;
            overflow: hidden;
            margin: 18px 0;

            &:active {
                color: black;
            }

            &:visited {
                color: black;
            }

            @media #{$desktop} {
                margin: 0;
            }

            .restaurants__cardscontainer__cards__newgreenstamp {
                @include newgreenstamp();
            }

            .restaurants__cardscontainer__cards__img {
                width: 100%;
                height: 154px;
                object-fit: cover;

                &--placement_with_new_green_stamp {
                    margin-top: -34px;
                }

                @media #{$tablet} {
                    height: 250px;
                }

                @media #{$desktop} {
                    height: 154px;
                }
            }

            .restaurants__cardscontainer__cards__infos {
                margin-top: -4px;
                background-color: white;
                display: flex;
                justify-content: space-between;
                padding: 16px 25px 12px 13px;

                .restaurants__cardscontainer__cards__infos__txt {
                    margin: 0 25px 0 13px;
                }

                .restaurants__cardscontainer__cards__infos__iconcontainer {
                    margin-top: 4px;
                    display: flex;

                    &:hover .restaurants__cardscontainer__cards__infos__iconcontainer__icon {
                        opacity: 0;
                    }

                    &:hover .restaurants__cardscontainer__cards__infos__iconcontainer__fullicon {
                        opacity: 1;
                    }

                    .restaurants__cardscontainer__cards__infos__iconcontainer__icon {
                        font-size: 25px !important;
                    }

                    .restaurants__cardscontainer__cards__infos__iconcontainer__fullicon {
                        font-size: 25px !important;
                        opacity: 0;
                        @include gradientfont();
                        position: absolute;
                        transition: opacity 0.35s ease-in-out;
                    }
                }
            }
        }
    }
}

footer {
    color: white;
    background-color: $darkgrey;

    @media #{$tablet} {
        text-align: center;
    }

    @media #{$desktop} {
        height: 114px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    a {
        color: white;
    }

    .footercontentcontainer {
        @media #{$desktop} {
            display: flex;
            flex-direction: row-reverse;
            height: fit-content;
            margin-bottom: 30px;
        }

        .footercontentcontainer__logo {
            height: 18px;
            filter: invert(1);
            margin: 25px 0 23px 22px;

            @media #{$desktop} {
                height: 18px;
                margin: -4px 60px 0 60px;
            }
        }

        .footercontentcontainer__linkscontainer {
            margin-left: 25px;
            padding-bottom: 22px;
            display: flex;
            flex-direction: column;

            @media #{$desktop} {
                flex-direction: row;
                justify-content: flex-end;
                padding-bottom: 0;
            }

            .footercontentcontainer__linkscontainer__iconlink {
                margin-bottom: 7px;

                @media #{$desktop} {
                    margin: 0 10px;

                    &--placementajust {
                        margin-right: 50px;
                    }
                }

                .footercontentcontainer__linkscontainer__iconlink_icon {
                    font-size: 13px;
                    width: 22px !important;
                }
            }

            .footercontentcontainer__linkscontainer__link {
                @media #{$desktop} {
                    margin: 0px 10px;
                }

                &--marginajust {
                    margin-right: 10px;
                    margin-bottom: 6px;
                }
            }
        }
    }
}


/* Grid setup for restaurant's cards (desktop) */

@media #{$desktop} {
    .grid_element_1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid_element_2 {
        grid-column: 2/2;
        grid-row: 1/2;
    }

    .grid_element_3 {
        grid-column: 1/2;
        grid-row: 2/2;
    }

    .grid_element_4 {
        grid-column: 2/2;
        grid-row: 2/2;
    }

    .grid_placement_ajust {
        margin-top: -68px;
    }
}
